<b>Telegram Premium充值通知</b>

<b>订单状态：</b>{{.Status}}
<b>订单类型：</b>{{.Type}}
<b>支付方式：</b>{{.Mode}}
➖➖➖➖➖➖➖➖➖➖➖➖
<b>订阅用户：</b><code>{{.ForUsername}}</code>
<b>订阅套餐：</b>{{.Month}}个月
<b>订单金额：</b>{{.Amount}} USDT
<b>订单时间：</b>{{.Current}}

如果失败请联系管理员或客服及时处理~