<b>赠与用户：</b><code>{{.ForUsername}}</code>
<b>订阅套餐：</b>{{.Month}}个月
<b>支付方式：</b>{{.Mode}}
<b>套餐金额：</b>≈{{.Amount}} USDT
<b>当前时间：</b>{{.Current}}

订单10分钟内有效，过期请重新生成订单
➖➖➖➖➖➖➖➖➖➖➖
<b>转账地址</b>: <code>{{.USDTAddress}}</code>
<b>转账金额</b>: <code>{{.Amount}}</code> USDT 注意<b>小数点</b>‼️
➖➖➖➖➖➖➖➖➖➖➖
🔴请注意转账金额务必与上方的转账金额一致，否则无法自动到帐
🟢支付完成后, 系统全自动充值 请等待3分钟内会员自动到账 ~