<b>订单号:</b> <code>{{.ID}}</code>
<b>充值金额:</b> {{.Balance}} USDT
<b>充值用户:</b> <code>{{.Username}} </code>
➖➖➖➖➖➖➖➖➖➖➖
<b>支付方式:</b> USDT-TRC20
<b>过期时间:</b> {{.ExpiredAt}}

<b>订单金额:</b> {{.Balance}} USDT
<b>付款地址:</b> <code>{{.ReceiveAddress}}</code>
➖➖➖➖➖➖➖➖➖➖➖
🔴付款请勿必确认付款地址和金额 (<b>小数位必须一致</b>) 是否正确,否则您的付款将概不负责！！！
🔴付款请勿使用交易所合约直接提现或转账,否则您的付款将概不负责！！！